.cta-home {
	display: grid;
	background: linear-gradient(
		115deg,
		transparent,
		transparent,
		hsl(var(--light))
	);

	border-radius: 4rem;
	padding: 0;

	.wrapper {
		align-content: center;
		padding: 3.2rem;

		.cta-heading {
			font-size: 6.4rem;
			font-weight: 600;
			line-height: 1.33;

			.highlight {
				color: hsl(var(--highlight), 0.9);
			}

			.stripe {
				position: relative;
				display: inline-grid;

				// Coloured rectangle behind word of last-child
				& span:first-child {
					display: list-item;
					color: transparent;
					grid-row: 1;
					grid-column: 1;
					background: hsl(var(--highlight), 0.5);
					transform: rotate(-5deg);
					width: 110%;
					margin-left: -5%;
					box-shadow: var(--shadow-elevation-low);
				}

				& span:last-child {
					mix-blend-mode: darken;
					grid-row: 1;
					grid-column: 1;
				}
			}

			.text {
				font-size: 2.4rem;
				line-height: 1.8;

				.top {
					margin-bottom: -1em;
				}

				.bottom {
					margin-top: -1em;
				}
			}
		}
	}

	@media (min-width: $small) {
		background-image: url("./cta-home-background.svg"),
			linear-gradient(115deg, transparent, transparent, hsl(var(--light)));
		background-repeat: no-repeat;
		background-position: right bottom;
		background-size: contain;

		.btn {
			width: max-content;
		}

		& .wrapper {
			.cta-heading {
				font-size: 6.4rem;
			}
		}
	}

	@media (min-width: $smedium) {
		grid-template-columns: 2fr 1fr;
	}

	@media (min-width: $medium) {
		grid-template-columns: 1fr 1fr;
	}
}
