button.btn,
a.btn {
	--text-color: hsl(var(--main-background-color));
	display: flex;
	align-items: center;
	justify-content: center;
	column-gap: 0.5em;
	padding: 1.6rem;
	background: hsl(var(--main-text-color), 0.85);
	color: var(--text-color);
	border-radius: var(--input_border_radius);
	box-shadow: inset 0 0 10px hsl(var(--main-text-color)),
		var(--shadow-elevation-medium);
	border: none;
	font-weight: 600;
	letter-spacing: 0.15em;
	text-transform: uppercase;
	text-align: center;
	text-decoration: none;
	cursor: pointer;

	&.secondary {
		--text-color: hsl(var(--main-text-color));
		border: var(--input_border);
		background: hsl(var(--main-background-color));
		box-shadow: var(--shadow-elevation-medium);

		&:hover {
			box-shadow: var(--shadow-elevation-low);
		}
	}

	&:hover {
		box-shadow: inset 0 0 10px hsl(var(--main-text-color)),
			var(--shadow-elevation-low);
	}

	&:active {
		background: hsl(var(--main-text-color));
	}

	&.mini {
		padding: var(--input_padding) 1.6rem;
	}

	& .icon {
		background-color: var(--text-color);
	}

	@media (min-width: $medium) {
		&:not(.full-width) {
			max-width: max-content;
		}
	}
}
