doctype html 
html 
  head 
    title only title
    link(href=require('../scss/main.scss') rel='stylesheet')
  body
    header 
      .logo 
      nav  
        ul 
          li 
            a(href='/') Home
          li 
            a(href='/about') About
    main 
      block content
    block footer 
      footer
        p copyright n such