extends ../mixins/page_layout
include ../components/images/image-size-fraction

block variables
  - var title = 'Examples'
  - var page_description = ''
  - var slug = '/'
  //- - var page_image = require('../images/web-sites-small-medium-business-ecommerce-seo.jpg')
  - var page_image_alt = ''

block content
  section.showcase__wrapper
    span.section__content
      h1 Showcase! 
      span
        p Get some insperation from our past works of art
        - var images = require('../components/gallery/gallery_data.json')
        section.gallery
          .gallery__wrapper
            each image in images
              .img__wrapper(data-size="1920", tabindex="0") 
                +image-size-fraction({path: image.name, alt: image.alt, fractions: [0.8, 0.8, 0.8, 0.3, 0.3, 0.3]})

        gallery-layout(data-images-path="/images")
block scripts 
  script(src=require("../components/gallery/gallery.ts") )

  