extends ../mixins/page_layout.pug
include ../components/build-options/build-options.pug
include ../components/big-list-item/big-list-item.pug

block variables
  - var title = 'Home'

block content
  section Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente non sunt, quam saepe ab itaque at cupiditate libero voluptatibus a! Repellat saepe quis tempore hic temporibus voluptatum debitis rem aliquam!