extends ../mixins/page_layout.pug
include ../components/cta-home/cta-home.pug
include ../components/build-options/build-options.pug
include ../components/big-list-item/big-list-item.pug

block variables
  - var title = 'Home'

block content
  +cta-home

  section.second
    div.wrapper
      h2 Need a website, but don't know where to start?
      p.subtext: em Relax. You've come to the right place.

  section.third 
    div.wrapper
      h2 Leave it to the experts 
      p.subtext With years of experience building websites, you can rest easy with AMDesigned on the case. We focus on the most important parts for a business website:
      ul 
        li A great experience for your user
        li Being find-able through search engines
        li An easy experience for you, the business owner

  +build-options

  section.fourth
    div.wrapper
      h2 Next steps 
      span.list
        +big-list-item({marker: '1'})
          p Get in touch! If you found a package above that fits your needs, go on and give it a click and send us a message. We'll be in touch to really get into the nitty-gritty of your shiney new website.
          | Not sure what your needs are, or they just don't quite fit one of the above packages? Don't stress! We tailor-make every package to suit your business. 
          +btn({icon: {class: "arrow right", side: 'right'}})(href="/contact?package=custom", class="mini") Send us a message
        
        +big-list-item({marker: '2'}): p Based on your message we'll get in touch and send you a quick questionnaire to learn more about you, your business and what your ideas for a website. We find this is the most efficient way of gathering information, giving you the time to consider what you want.

        +big-list-item({marker: '3'}): p We'll build a couple of proposals for your choosing, giving you a good range of options to truely deliver the best bang for your buck.

        +big-list-item({marker: '4'}): p Once we have everything we need, we're all on the same page for what glorious site we're going to build, you get to sit back, put your feet up and relax. We'll get to work doing what we do best -- building an awesome experience!