extends ../mixins/page_layout.pug
include ../mixins/coming-soon.pug

block variables
  - var title = 'Privacy Policy'
  - var page_description = ''
  - var slug = '/'
  //- - var page_image = require('../images/web-sites-small-medium-business-ecommerce-seo.jpg')
  - var page_image_alt = ''

block content
  section
    span.section__content
      h1 Privacy policy
      +coming-soon