extends ../mixins/page_layout.pug
include ../mixins/coming-soon.pug

block variables
  - var title = 'Services'

block content
  section
    h1 What services do we provide?
    p.subtext The process of developing and delivering a website is an expansive one. As such this list of services is not exhaustive, but will give you an idea of what we provide. 
    div.services__wrapper
      span.service#design
        span.title__wrapper
          span(class="icon large paintbrush")
          p.title Design
        p.content Using your business information, brand colours, logo, images and message we first design layouts, or 'wireframes', of the proposed website. This helps make sure we're all on the same page for what the sites purpose and general design will be. Next we either design out high fidelity designs (a more fleshed out design) or jump straight into the next step, building your site!
      span.service#build
        span.title__wrapper
          span(class="icon large trowel")
          p.title Build
        p.content This is where things become real. Using best practices in SEO and accessibility we build your website in a way that is a joy to use. We know first hand how frustrating some modern websites are - it's actually why we started AMDesigned, to be the difference we wanted to see online. 
      span.service#hosting
        span.title__wrapper
          span(class="icon large server")
          p.title Hosting
        p.content Hosting is where we arrange with a service provider to let us store your site's files on their servers so they can be shown to your visitors. Everything that is viewable online needs this service in one form or another, and for some it can be daunting to figure out what you need and get it all set up. As we have plenty of experience, and are the ones building the website, we can take the pressure off by sorting this out for you. If you opt-in for #[a(href="#maintenance", class="internal link") Ongoing Maintenance] we'll also keep ontop of the recurring payments for this service. 
      span.service#domain-purchase
        span.title__wrapper
          span(class="www__wrapper")
            span(class="icon w")
            span(class="icon w")
            span(class="icon w")
          p.title Domain purchase
        p.content Purchasing a domain can be another daunting task of organising your new website. You've got your perfect name, you're ready to get your business cards printed, your social accounts updated -- but how do you even purchase a domain. 
      span.service#seo-accessibility
        span.title__wrapper
          span(class="icon large handshake-angle")
          p.title SEO & Accessibility
        p.content 
      span.service#analytics
        span.title__wrapper
          span(class="icon large chart-simple")
          p.title Analytics set up
        p.content 
      span.service#maintenance
        span.title__wrapper
          span(class="icon large screwdriver-wrench")
          p.title Ongoing maintenance
        p.content 
  script(src=require("../ts/services.ts"))