extends ../mixins/page_layout.pug
include ../mixins/coming-soon.pug

block variables
  - var title = 'Services'

block content
  section
    h1 Services! 
    span 
      p Design
    span 
      p Build
    span 
      p Hosting
    span 
      p Domain purchase
    span 
      p SEO & Accessibility
    span 
      p Analytics set up
    span 
      p Ongoing maintenance
