include ./page_header.pug
block variables
doctype html 
html 
  head 
    title= title
    script(src=require("../ts/index.ts")) 
    link(href=require('../scss/main.scss') rel='stylesheet')
   
  body
    +page_header(title)
    main#main 
      block content
  
    footer
      p copyright n such