mixin page_header(active)
  header 
    a.skip-to-content-link(href="#main") Skip to content
    a.logo(href="/")
      h1 AMDesigned

    button.menu__button(id= 'hamburger', onclick='toggleMenu()' tabindex="0")
        span
        span
        span

    nav#nav  
      
      ul 
        each val, key in pages
          li
            a(href= val class= active.toLowerCase() === key ? 'current': undefined) #{key}
        