mixin page_header(active)
  header 
    a.skip-to-content-link(href="#main") Skip to content
    a.logo(href="/")
      //- img(src=require('Images/walkers-creek-logo.png'))
      h1 Company Logo

    button.menu__button(id= 'hamburger', onclick='toggleMenu()' tabindex="0")
        span
        span
        span

    nav#nav  
      
      ul 
        - var pages = {'home': '/', 'about': '/about', 'contact': '/contact', 'gallery': '/gallery'}
        each val, key in pages
          li
            a(href= val class= active.toLowerCase() === key ? 'current': undefined) #{key}
        