.img__wrapper {
	display: grid;
	overflow: hidden;
	cursor: zoom-in;

	&:hover {
		outline: 3px solid hsl(var(--highlight));
	}

	.placeholder,
	picture {
		grid-row: 1;
		grid-column: 1;
	}

	.placeholder {
		position: relative;
		z-index: -1;
		object-fit: cover;
		filter: blur(2px);
	}

	img {
		width: 100%;
		height: 100%;
		object-fit: contain;
	}
}

.gallery__wrapper {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 1.6rem;
}

zoom-wrapper {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: black;
	display: grid;
	overflow: scroll;
	margin: auto;
}
