@import "./menuButton";

header {
	--text-color: hsl(var(--primary));
	display: grid;
	grid-template-columns: auto auto;
	padding: 1.6rem var(--page_padding);
	color: var(--text-color);

	a.logo {
		text-decoration: none;
		h1 {
			color: var(--text-color);
		}
		img {
			max-width: 25rem;
		}
	}
}

nav {
	// display: grid;
	// justify-items: flex-end;
	// align-items: center;

	& ul {
		display: none;
		column-gap: 1.6rem;
		flex-direction: column;
		align-items: center;
		height: 100%;
		justify-content: space-around;

		& li {
			list-style: none;

			a {
				position: relative;
				font-size: 2.4rem;
				text-transform: uppercase;
				font-weight: 600;
				text-decoration: none;
				color: var(--text-color);

				&:after {
					position: absolute;
					content: "";
					height: 0.1em;
					width: 100%;
					left: 0;
					bottom: 0;
				}

				&.current:after {
					background: hsl(var(--highlight));
				}

				&:not(.active):hover {
					&:after {
						background: hsl(var(--primary));
					}
				}
			}
		}
	}
	&.open {
		position: fixed;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background: hsl(var(--dark), 0.98);
		z-index: var(--menu-zIndex);
		grid-template-rows: max-content auto;
		padding: var(--page_padding);

		ul {
			display: flex;
		}
	}

	@media (min-width: $wholeMenuMinWidth) {
		justify-self: flex-end;
		&,
		&.open {
			position: relative;

			ul {
				display: flex;
				flex-direction: row;

				li a {
					font-size: 1.8rem;
				}
			}
		}
	}
}
