input,
textarea {
	width: 100%;
	border-radius: var(--input_border_radius);
	border: var(--input_border);
	padding: var(--input_padding);
}

label {
	display: grid;
	row-gap: 0.8rem;
}

form {
	display: grid;
	row-gap: 1.6rem;
}
