.menu__button {
	// position: absolute;
	justify-self: flex-end;
	align-self: center;
	height: max-content;
	// right: var(--page_padding);
	// top: var(--page_padding);
	z-index: var(--menu-btn-zIndex);
	cursor: pointer;
	display: grid;
	row-gap: 0.8rem;
	width: 4rem;

	& span {
		position: relative;
		background: var(--highlight);
		width: 100%;
		height: 3px;
		z-index: var(--menu-btn-zIndex);
		transition: transform 0.25s ease, background-color 0.5s ease;
		border-radius: 4rem;
	}

	&.open {
		span {
			transition: transform 0.25s ease, background-color 0.5s ease;
			// background: var(--mix-colors-yellow);
		}

		span:nth-child(1) {
			transform: rotate(45deg) translate(25%, 0.6rem);
		}

		span:nth-child(2) {
			background: transparent;
		}
		span:nth-child(3) {
			transform: rotate(-45deg) translate(22%, -0.6rem);
		}
	}

	@media (min-width: $small) {
		display: none;
	}
}
