:root {
	--dark: 0, 0%, 0%;
	--light: 0, 0%, 100%;
	--primary: var(--dark);
	--secondary: var(--light);
	--highlight: 157, 94%, 42%;

	// Z INDEXES
	--below-menu-zIndex: 3;
	--menu-zIndex: 5;
	--menu-btn-zIndex: 10;

	// PADDINGS
	--page_padding: 3.2rem;
	--input_padding: 0.8rem;

	// BORDERS
	--input_border: 1px solid hsl(var(--primary));
	--input_border_radius: 0.4rem;

	// SHADOWS

	--shadow-color: 0deg 0% 64%;
	--shadow-elevation-low: 0.2px 0.2px 0.4px hsl(var(--shadow-color) / 0.08),
		0.8px 0.7px 1.5px -0.4px hsl(var(--shadow-color) / 0.49);
	--shadow-elevation-medium: 0.2px 0.2px 0.4px hsl(var(--shadow-color) / 0.07),
		1.3px 1.1px 2.5px -0.2px hsl(var(--shadow-color) / 0.33),
		3.8px 3.4px 7.3px -0.4px hsl(var(--shadow-color) / 0.58);
	--shadow-elevation-high: 0.2px 0.2px 0.4px hsl(var(--shadow-color) / 0.08),
		2.8px 2.6px 5.5px -0.1px hsl(var(--shadow-color) / 0.25),
		5.6px 5.1px 10.9px -0.2px hsl(var(--shadow-color) / 0.42),
		10.2px 9.3px 19.9px -0.3px hsl(var(--shadow-color) / 0.59),
		18.3px 16.7px 35.7px -0.4px hsl(var(--shadow-color) / 0.76);
}

// BREAKPOINTS

$xxsmall: 425px;
$xsmall: 501px;
$small: 768px;
$medium: 1024px;
$large: 1440px;
$xlarge: 2560px;
$wholeMenuMinWidth: $small;
