@import "./resets";
@import "./variables";
@import "./header";
@import "./footer";
@import "./inputs";
@import "./buttons";
@import "./gallery";
@import "./components";
@import "./basics";

body {
	display: grid;
	min-height: 100vh;
	grid-template-rows: max-content auto max-content;

	@media (min-width: $wholeMenuMinWidth) {
		overflow-y: auto !important;
	}
}

main {
	padding: var(--page_padding);

	@media (min-width: $large) {
		width: 100%;
		max-width: 60vw;
		margin-inline: auto;
	}
}

.skip-to-content-link {
	position: absolute;
	left: 50%;
	transform: translateY(-100%);
	padding: 0.8rem;
	border: 1px solid hsl(var(--primary));
	border-radius: 0.4rem;

	&:focus {
		transform: translateY(0%);
	}
}
