@import "./resets";
@import "./variables";
@import "./icons";
@import "./header";
@import "./footer";
@import "./inputs";
@import "./gallery";
@import "./basics";
@import "./components";
@import "./home";
@import "./contact";

body {
	display: grid;
	min-height: 100vh;
	grid-template-rows: max-content auto max-content;
	background: linear-gradient(
		45deg,
		hsl(var(--dark), 0.01),
		hsl(var(--dark), 0.05)
	);

	@media (min-width: $medium) {
		row-gap: 6.4rem;
	}
}

main {
	display: grid;
	row-gap: 6.4rem;
	padding: var(--page_padding);

	@media (min-width: $medium) {
		max-width: $medium;
		margin-inline: auto;
	}

	@media (min-width: $large) {
		width: 100%;
		max-width: $large;
	}
}

.skip-to-content-link {
	position: absolute;
	left: 50%;
	transform: translateY(-100%);
	padding: 0.8rem;
	border: 1px solid hsl(var(--primary));
	border-radius: 0.4rem;

	&:focus {
		transform: translateY(0%);
	}
}

p {
	line-height: 1.8;
}

ul {
	line-height: 2;
}

section {
	display: grid;
	row-gap: 1.6rem;
	padding: 3.2rem;

	&.textCenter {
		text-align: center;
	}
}
