.big-list-item {
	display: grid;
	row-gap: 3.2rem;
	column-gap: 3.2rem;
	background: hsl(var(--base-color), 100%);
	padding: 2.4rem;
	border-radius: 0.8rem;
	height: max-content;

	& .content {
		display: grid;
		row-gap: 1.6rem;
	}

	& .marker {
		display: flex;
		justify-content: center;
		align-items: center;
		rotate: -10deg;
		font-size: 6.4rem;
		line-height: 1;
		color: hsl(var(--highlight));
		align-self: flex-start;
		text-shadow: 2px 2px 1px hsl(var(--base-color), 0%, 0.8);

		&.circle {
			width: 6.4rem;
			height: 6.4rem;
			background: hsl(var(--highlight));
			border-radius: 50%;
			font-size: 2.4rem;
		}
	}

	@media (min-width: $small) {
		grid-template-columns: max-content auto;

		& .marker {
			font-size: 4.8rem;
		}
	}
}
